*{
  text-align: center;
  font-family: 'Aladin', sans-serif;
  user-select: none;
  -moz-user-select: none;
  font size: 3em;
}

h1{
  font-size: 5em;
  margin-bottom: 0;
}

p{
  font-size: 1.5em;
  margin-top: 0;
}

form{
  margin-bottom: 25px;
}

label{
  font-size: 2.5em;
}

input[type=text]{
  color: black;
  /*text-shadow: 0 0 0 #000;*/
  border: none;
  width: 15em;
  font-size: 2.5em;
}

input[type=submit]{
  font-size: 2.5em;
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  border: none;
}

a{
  animation: 1s ease normal forwards 1 fadein;
  padding: 2px;
  font-size: 2em;
}

@keyframes fadein{
    0% { opacity:0; }
    33% { opacity:0; }
    100% { opacity:1; }
}

#notlast{
  animation: none;
}
